<p style="color: green"><%= notice %></p>
<h3>Image to Compare</h3>

<%= image_tag "#{@image_to_compare.name}", style: 'width: 80px;' %>
<%= @image_to_compare.name %>
|
Dhash:
<strong><%= @image_to_compare.dhash %></strong>
Dfingerprint:
<strong><%= @image_to_compare.dfingerprint %></strong>
<hr>
<div id="images">
  <% @images_sorted.each do |image| %>
    <p>
      <%= render partial: image[0], locals: { dhash_distance: image[1], dfinger_distance: image[2], ocr_string: image[3], ocr_to_box: image[4], words_distance: image[5] } %>
    </p>
  <% end %>
</div>


